body {
    background-color: black; /*rgb(241, 233, 233);*/
}

html, body {
    height: 90%;
    margin: 0;
    padding: 0;
}

.top {
    margin: auto;
    /*padding: 0.5em;*/
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: black;
    top: 0;
    display: block;
    position: sticky;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 100;
    clear: both;
}

.top p {
    color: white;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.center {
    text-align: center;
}

.center a{
    color: rgb(224, 224, 228);
    font-size: 1.5em;
}

.center a:hover{
    text-decoration: none;
    color: rgb(224, 224, 228);
}

.nav {
    float: right;
    position: relative;
    list-style: none;
    display: block;
}

.nav a {
    color: white;
}

.nav li {
    display: inline;
    list-style: none;
    position: relative;
}

.photography_1 {
    display: none;
}

.photography_1 li a {
    /*display: block;*/
    text-decoration: none;
    color: white;
    border-top: 1px solid white;
    background: rgb(221, 215, 215);
    white-space: nowrap;
    top: 20px;
    left: 25px;
}

.photography_1 li a:hover{
    background: rgb(10, 10, 10);
}

li:hover ul {
    display: block;
    position: absolute;
}

li:hover li {
    float: none;
    font-size: 5px;
}

li:hover a {
    background: rgb(5, 5, 5);
}

li:hover li a:hover {
    background: rgb(19, 18, 18);
}

.logos {
    float: left;
}

.logos a:hover {
    text-decoration: none;
}

.logos a {
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    bottom: 20px;
}

.nav li a {
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 13px;
    position: relative;
}
  
.nav li a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: white;
    content: '';
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(4px);
  }

.testing {
    padding: 0;
    display: block;
    margin: auto;
    max-height: auto;
    max-width: 50%;
}

.carousel-inner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    max-height: auto;

}

.carousel-inner p {
    text-align: center;
    color: black;
    font-size: 14px;
}

.main_car {
    margin-left: auto;
    margin-right: auto;
}

.main_car img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main_car p {
    font-size: 14px;
    color: white;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.about_body {
    padding-left: 10em; 
    padding-right: 10em;
    padding-top: 5em;
    display: block;
    
}

.about_body p {
    color: rgba(255, 255, 255, 0.671);
}

.about_body img {
    padding: 10px;
    max-height: 350px;
    width: 250px;
    float: right;
}
